/* Flexbox */
.function,
.like-comment,
.comments {
  display: flex;
}
#icon-red,
#icon-gray {
  margin: 10px 5px;
}
.like-comment,
.comments {
  justify-content: space-between;
}
#like,
#comment {
  align-self: center;
}
